# HOmework Problem #2 - PyRamen
### David Frazier

### Data Sets: menu_data.csv and sales_data.csv

In [7]:
## Read in the PyBank Dataset
# Import the pandas library
# Read the data in as a data frame

import pandas as pd
from pathlib import Path

menu_df = pd.read_csv('C:/FinTech/menu_data.csv')  # Read the dataset in as a pandas data frame
menu_df.head()                                       # print the first 5 rows of the data frame
menu_df.sample()                                     # print a 5 row sample of the data frame
menu_df.tail()                                       # print the borrom 5 rows of the data frame

sales_df = pd.read_csv('C:/FinTech/sales_data.csv')  # Read the dataset in as a pandas data frame
sales_df.head()
sales_df.tail()

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
74119,74120,12/31/2018,1697055332228940,4,tonkotsu ramen
74120,74121,12/31/2018,6800009643487100,1,vegetarian spicy miso
74121,74122,12/31/2018,6800009643487100,1,vegetarian spicy miso
74122,74123,12/31/2018,5981057609583650,2,spicy miso ramen
74123,74124,12/31/2018,5981057609583650,2,spicy miso ramen

In [28]:
import pandas as pd
from pathlib import Path


# Set the file path
file_path = Path("C:/FinTech/sales_data.csv")       # Set the sales object
sales_list = []                                      # initialize the empty sales list
line_num = []                                        # initialize the empty line number list

# Read the CSVs and set the `date` column as a datetime index to the DataFrame
sales_df = pd.read_csv(file_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
sales_df.head()
sales_df["Quantity"] = sales_df["Quantity"].astype('int')  # cast quantity as integer
sales_df["Quantity"].dtype                                 # check the data type for Quantity as integer
sales_df.describe(include='all')                                   # view summary statistics for numeric data

# Select the first-10 rows of the sales dataframe
sales_df.iloc[0:10].head() 
sales_df.iloc[-1]     # selsect the last row of the data frome

Line_Item_ID                     74124
Credit_Card_Number    5981057609583650
Quantity                             2
Menu_Item             spicy miso ramen
Name: 2018-12-31 00:00:00, dtype: object